{% extends "base.html.twig" %}
{% block stylesheets %}
<style>
body{
    margin: 0;
}
.content{
    width: 1140px;
    margin: 0 auto;
    min-height: 640px;
}
.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #2f6188;
    text-align: center;
}
.main-menu ul li{
    display: inline-block;
}
.main-menu ul li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
}
.main-menu ul li a:hover{
    background: #285488;
}
table tr td{
    text-align: center;
}
.btn-add{
    width: 127px;
    height: 18px;
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin-bottom: 14px;
    background: #67a223;
    color: white;
    text-decoration: none;
}
input,textarea{
    width: 325px;
}
textarea{
    height:200px;
}
table tr{
    cursor: pointer;
}
</style>
{% endblock %}
{% block body %}
    <div class="content">
        <div class="main-menu">
            <ul>
                <li><a href="{{ path('home') }}">Главная</a></li>
                <li><a href="{{ path('pageAbout') }}">Онас</a></li>
                <li><a href="{{ path('pageContacts') }}">Контакты</a></li>
            </ul>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}