{% extends "site.html.twig" %}

{% block title %}Добавление нового продукта в базу данных{% endblock %}

{% block content %}
    <h1>Добавление нового продукта в базу данных</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
